{
    "root": true,
    "env": {
        "node": true,
        "browser": true,
        "es2021": true
    },
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime",
        "plugin:jsx-a11y/recommended",
        "plugin:react-hooks/recommended",
        "plugin:import/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/typescript",
        "prettier"
    ],
    "plugins": ["import", "@typescript-eslint", "prettier", "react", "react-hooks"],
    "settings": {
        "react": {
            "createClass": "createReactClass", // Regex for Component Factory to use,
            // default to "createReactClass"
            "pragma": "React", // Pragma to use, default to "React"
            "fragment": "Fragment", // Fragment to use (may be a property of <pragma>), default to "Fragment"
            "version": "detect", // React version. "detect" automatically picks the version you have installed.
            // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
            // It will default to "latest" and warn if missing, and to "detect" in the future
            "flowVersion": "0.53" // Flow version
        },
        "import/resolver": {
            "node": {
                "moduleDirectory": ["node_modules", "src/"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            },
            "typescript": {}
        },
        "linkComponents": [
            "Hyperlink",
            { "name": "Link", "linkAttribute": "to" }, // React Router DOM
            { "name": "NavLink", "linkAttribute": "to" }, // React Router DOM
            { "name": "Link", "linkAttribute": "href" } // Material UI
        ]
    },
    "parserOptions": {
        "allowImportExportEverywhere": true,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true,
            "jsx": true
        },
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "rules": {
        "import/no-unresolved": [2, { "commonjs": true, "amd": true }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "error",
        "import/named": 2,
        "import/namespace": 2,
        "import/default": 2,
        "import/export": 2,
        "for-direction": "error",
        "getter-return": "error",
        "no-async-promise-executor": "off",
        "no-await-in-loop": "off",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "warn",
        "no-constant-condition": "warn",
        "no-control-regex": "warn",
        "no-debugger": "warn",
        "no-dupe-args": "error",
        "no-dupe-else-if": "error",
        "no-dupe-keys": "error",
        "no-duplicate-case": "error",
        "no-empty": ["off", { "allowEmptyCatch": true }],
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": ["error", { "enforceForLogicalOperands": true }],
        "no-extra-parens": "off",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-import-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-irregular-whitespace": "warn",
        "no-loss-of-precision": "warn",
        "no-misleading-character-class": "warn",
        "no-obj-calls": "error",
        "no-promise-executor-return": "off",
        "no-prototype-builtins": "error",
        "no-regex-spaces": "error",
        "no-setter-return": "error",
        "no-sparse-arrays": "off",
        "no-template-curly-in-string": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unreachable-loop": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "no-unsafe-optional-chaining": ["error", { "disallowArithmeticOperators": true }],
        "no-useless-backreference": "error",
        "require-atomic-updates": "off",
        "use-isnan": "error",
        "valid-typeof": ["error", { "requireStringLiterals": true }],
        "no-delete-var": "warn",
        "no-label-var": "error",
        "no-underscore-dangle": "off",
        "no-shadow-restricted-names": "error",
        "no-undef": "off",
        "no-undef-init": "error",
        "no-undefined": "off",
        "no-unused-vars": [
            "error",
            {
                "args": "after-used",
                "caughtErrors": "none",
                "ignoreRestSiblings": true
            }
        ],
        "array-callback-return": "error",
        "block-scoped-var": "error",
        "complexity": ["error", 500],
        "curly": ["warn", "multi", "consistent"],
        "default-case": "error",
        "default-case-last": "error",
        "default-param-last": "off",
        "dot-location": ["error", "property"],
        "dot-notation": ["error", { "allowKeywords": true }],
        "eqeqeq": ["error", "always"],
        "no-caller": "error",
        "no-else-return": ["error", { "allowElseIf": false }],
        "no-empty-function": ["off", { "allow": ["arrowFunctions"] }],
        "no-empty-pattern": "warn",
        "no-eq-null": "error",
        "no-eval": "warn",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-floating-decimal": "off",
        "no-global-assign": "warn",
        "no-implicit-coercion": "off",
        "no-implicit-globals": ["error", { "lexicalBindings": false }],
        "no-implied-eval": "warn",
        "no-invalid-this": "error",
        "no-iterator": "error",
        "no-labels": "off",
        "no-lone-blocks": "warn",
        "no-magic-numbers": "off",
        "no-multi-spaces": "error",
        "no-multi-str": "off",
        "no-new": "error",
        "no-new-func": "error",
        "no-new-wrappers": "error",
        "no-nonoctal-decimal-escape": "error",
        "no-octal": "warn",
        "no-param-reassign": "off",
        "no-proto": "error",
        "no-redeclare": "warn",
        "no-return-assign": "off",
        "no-return-await": "off",
        "no-self-assign": "error",
        "no-self-compare": "error",
        "no-sequences": "error",
        "no-unmodified-loop-condition": "warn",
        "no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
        "no-unused-labels": "error",
        "no-useless-call": "error",
        "no-useless-catch": "error",
        "no-useless-escape": "error",
        "no-useless-return": "error",
        "no-void": "error",
        "no-with": "error",
        "prefer-regex-literals": "error",
        "require-await": "warn",
        "wrap-iife": ["error", "inside"],
        "yoda": "off",
        "array-bracket-newline": ["warn", "consistent"],
        "array-bracket-spacing": ["error", "never"],
        "array-element-newline": ["error", "consistent"],
        "block-spacing": ["error", "always"],
        "brace-style": "error",
        "camelcase": "off",
        "comma-dangle": ["error", "never"],
        "comma-spacing": ["error", { "before": false, "after": true }],
        "comma-style": ["error", "last"],
        "computed-property-spacing": ["error", "never"],
        "eol-last": ["error", "always"],
        "func-call-spacing": ["error", "never"],
        "func-name-matching": ["error", "always"],
        "function-call-argument-newline": ["error", "consistent"],
        "id-length": ["off"],
        "implicit-arrow-linebreak": "off",
        "indent": "off",
        "line-comment-position": "off",
        "lines-around-comment": ["off"],
        "max-depth": ["error", 25],
        "max-lines": [
            "error",
            {
                "max": 5000,
                "skipBlankLines": true,
                "skipComments": true
            }
        ],
        "max-nested-callbacks": ["error", 15],
        "max-params": ["off", 15],
        "max-statements-per-line": ["error", { "max": 1 }],
        "multiline-comment-style": ["off"],
        "multiline-ternary": "off",
        "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 5 }],
        "no-array-constructor": "error",
        "no-bitwise": "error",
        "no-inline-comments": "off",
        "no-lonely-if": "error",
        "no-mixed-spaces-and-tabs": "error",
        "no-multi-assign": "error",
        "no-multiple-empty-lines": ["error", { "max": 5 }],
        "no-nested-ternary": "off",
        "no-new-object": "error",
        "no-plusplus": "off",
        "no-trailing-spaces": ["error", { "skipBlankLines": false, "ignoreComments": false }],
        "no-unneeded-ternary": "warn",
        "no-whitespace-before-property": "error",
        "nonblock-statement-body-position": ["error", "any"],
        "object-curly-newline": ["error", { "multiline": true, "consistent": true }],
        "object-curly-spacing": ["error", "always"],
        "operator-assignment": ["warn", "always"],
        "operator-linebreak": "off",
        "padded-blocks": ["error", "never"],
        "prefer-exponentiation-operator": "error",
        "prefer-object-spread": "error",
        "quote-props": ["off"],
        "quotes": ["error", "double", { "avoidEscape": true, "allowTemplateLiterals": true }],
        "semi": ["error", "always"],
        "semi-style": ["error", "last"],
        "semi-spacing": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": "off",
        "space-in-parens": ["error", "never"],
        "space-infix-ops": ["error", { "int32Hint": false }],
        "space-unary-ops": ["error", { "words": true, "nonwords": false }],
        "spaced-comment": ["off"],
        "switch-colon-spacing": "error",
        "template-tag-spacing": ["error", "always"],
        "arrow-body-style": "off",
        "arrow-parens": ["warn", "always"],
        "arrow-spacing": "error",
        "no-confusing-arrow": "off",
        "no-const-assign": "error",
        "no-duplicate-imports": ["error", { "includeExports": true }],
        "no-useless-computed-key": "error",
        "no-useless-rename": "error",
        "object-shorthand": [
            "warn",
            "always",
            { "avoidQuotes": true, "avoidExplicitReturnArrows": true }
        ],
        "prefer-arrow-callback": "warn",
        "prefer-const": ["warn", { "destructuring": "all" }],
        "prefer-destructuring": [
            "warn",
            { "array": false, "object": true },
            { "enforceForRenamedProperties": false }
        ],
        "prefer-rest-params": "warn",
        "prefer-spread": "warn",
        "prefer-template": "off",
        "rest-spread-spacing": ["error", "never"],
        "template-curly-spacing": "error",
        "consistent-return": "off",
        "no-use-before-define": ["off", { "functions": true, "classes": true }],
        "prettier/prettier": [
            "error",
            {
                "arrowParens": "always",
                "bracketSpacing": true,
                "endOfLine": "auto",
                "printWidth": 100,
                "semi": true,
                "singleQuote": false,
                "tabWidth": 4,
                "trailingComma": "none",
                "useTabs": false
            }
        ],
        "react/jsx-fragments": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-props-no-spreading": ["off"],
        "react/no-array-index-key": ["off"],
        "react/forbid-prop-types": ["off"],
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react/react-in-jsx-scope": "off",
        "react/display-name": "off",
        "react/prop-types": 1,
        "react/require-default-props": "off",
        "import/order": "off",
        "import/no-cycle": "off",
        "no-console": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "no-shadow": "off",
        "import/no-named-as-default": "off",
        "import/no-extraneous-dependencies": "off",
        "jsx-a11y/no-autofocus": "off",
        "no-restricted-imports": [
            "error",
            {
                "patterns": ["@mui/*/*/*", "!@mui/material/test-utils/*"]
            }
        ]
    }
}
