.map-slider-view {
  height: 100%;
  position: relative;
}

.map-view-modal-btn-view {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  animation: upAndDownAnimation 500ms infinite;
}

.map-slider-item {
  width: 100%;
  position: relative;
  background-size: 100% 100%;
  object-fit: fill;
}

.map-modal-view {
  position: absolute;
  bottom: calc(0% - 120px);
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px;
}

.map-modal-view-show {
  transition: 0.3s all ease-in-out;
  bottom: 5% !important;
}

.map-modal-view:hover {
  bottom: 6%;
}

.map-preview-view {
  height: 100%;
  overflow: hidden;
  position: relative;
  background-color: var(--default-background-color);
}

.map-image-container {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-image-zoom-button-group {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  z-index: 11;
}

@keyframes upAndDownAnimation {
  50% {
    top: 15px;
  }
  100% {
    top: 10px;
  }
}
